@import "node_modules/bootstrap/scss/bootstrap";

.wrap {
  #kbPage-options-form {
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    .form_wrap {
      display: flex;
      flex-direction: column;
      label {
        text-align: right;
      }
    }
    .btn {
      width: 100px;
    }
  }
}
